html,body{
    margin:0;   /*縁の余白なし*/
    padding:0;
    /*     
    -webkit-touch-callout:none;
    -webkit-user-select:none; */
}

/*pタグ（文字）*/
p{
    margin-left:5px;
}


/*丸つまみスライダー*/
input[type="range"]{
    width:200px;
    transform:scale(1.5);
    margin-left:60px;
}


/*2つつまみスライダー（単体）*/
.range-wrapper1{
    position:relative;
    width: 270px;
    margin-left:20px;
    margin-top:40px;
}

/*2つつまみスライダー（単体）の右のチェックボックス*/
.check1{
    position: relative;
    left:312px;
    top:-17px;
    transform:scale(1.5);
}




/*2軸スライダーの親要素*/
.parentdiv{
    position: relative;
    height:380px;
}

/*2つつまみスライダー（横軸）*/
.range-wrapper2{
    position:relative;
    width: 270px;
    left: 60px;
    top:20px;
}

/*2つつまみスライダー（縦軸）*/
.range-wrapper3{
    position:relative;
    height: 270px;
    left:15px;
    top:40px;
}

/*2つつまみスライダー（横軸）の右のチェックボックス*/
.check2{
    position:relative;
    top:-267px;
    left:352px;
    transform:scale(1.5);
}

/*2つつまみスライダー（縦軸）の下のチェックボックス*/
.check3{
    position:absolute;
    left:13px;
    top:350px;
    transform:scale(1.5);
}

/*2軸スライダーの領域*/
.rectdisp{
    position: absolute;
    width: 270px;
    height: 270px;
    top: 60px;
    left: 58px;
}

/*ANDORチェックボックス*/
.check4{
    position:absolute;
    left:100px;
    top:352px;
    transform:scale(1.5);
}

/*ANDORラベル*/
.label1{
    position:absolute;
    left:121px;
    top:337px;
    font-size:15px;
}

/*反転ボタン*/
.button1{
    position:absolute;
    left:220px;
    top:348px;
    transform:scale(1.1);
    white-space:nowrap;
}


/*2つつまみスライダーのつまみ縦線非表示*/
.noUi-horizontal .noUi-handle::before, .noUi-horizontal .noUi-handle::after  {
content: none;
}
.noUi-vertical .noUi-handle::before, .noUi-vertical .noUi-handle::after  {
content: none;
}

















